body{
    background-color: #050505
}
#resetcontainer{
    height:135px;
    width:100%;
    position:relative;
    margin-top: 0;
    display: flex;
}
#fillerfilet{
    float: left; 
    width: 20%;
}
#logocontainer{
    width:60%;
    float: center;
}
#rrcontainer{
    width:20%;
    float: right;
    display: flex;
}

#logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    height:150px;
    margin-top: -20px;
}
#reset{
    height: 50px;
    width: 100px;
    background-color: #101010;
    border-width: 10px;
    border: solid;
    border-color: #314770;
    border-radius: 15px;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-left: 3%;
    position: absolute;

}
#reset:hover{
    background-color: #314770;
    box-shadow:25px 0 50px #31477053, -25px 0 50px #31477053
}
#resetall{
    height: 50px;
    width: 100px;
    background-color: #101010;
    border-width: 10px;
    border: solid;
    border-color: #314770;
    border-radius: 15px;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-left: 11%;
    position: absolute;

}
#resetall:hover{
    background-color: #314770;
    box-shadow:25px 0 50px #31477053, -25px 0 50px #31477053
}
#center{
    width: 100%;
    height: 550px;
    display: flex;
}
#limageholder{
    width:30%;
    float: left;
    height:100%;

}

#limage{
    max-height: 100%;
    max-width: 90%;
    border: solid;
    margin-top: -10%;
    border-width: 10px;
    border-color: white;
    border-radius: 20px;
    padding: 8px;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.237) ;
    margin-left: 10%;
}

#centerpage{
    width:40%;
    display: flex;
    flex-direction: column;
}
#cnamecontainer{
    height: 5%;
    width: 100%;
    
}
#cname{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: -10px;
}
#cimagecontainer{
    height: 60%;
    width: 100%;
}

#cimage{
    height:92%;    
    display:block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 2%;
}
#textstuff{
    height:10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#left{
    height: 20px;
    width: 20px;
    background: url("/images/Right_Key.png");
    background-size: contain;
    border-radius: 20px;
    border: solid;
    border-width: 2px;
    border-color: white;
    overflow: hidden;
   
}
#left:hover{
    background: url("/images/Right_Key_Hover.png");
    background-size: contain;

}

#character{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

#total{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
#input{
    color:white;
    background-color: #404040;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    height: 38px;
    width: 76px;
    border-radius:10px;
    border: none;    
    text-align: center;
}
#right{
    height: 20px;
    width: 20px;
    background: url("/images/Left_Key.png");
    background-size: contain;
    border-radius: 20px;
    border: solid;
    border-width: 2px;
    border-color: white;
    overflow: hidden;

}
#right:hover{
    background: url("/images/Left_Key_Hover.png");
    background-size: contain;
}
#spcontain{
    height:25%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
}

#smash{
    height: 100px;
    width: 200px;
    border:none;
    border-radius: 20px;
    font-size: 30px;
    background-color: #101010;
    color:white;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    position:relative;
    transition: box-shadow 0.1s ease-in-out;
    margin-top:3%;

    display:flex;
    justify-content: center;
    align-items:center;
    
}
#smash::after{
    content:"";
    position:absolute;
    height: 110%;
    width:105%;
    border-radius:20px;
    background-image:var(--hahaha, linear-gradient(to bottom right, #314770, #6295E0));
    z-index:-1;
}
#smash:hover, #smash:active{
    z-index:0;
    box-shadow:var(--smash,40px 0 100px #6294e047, -60px 0 100px #31477053);
}


#pass{
    height: 100px;
    width: 200px;
    border:none;
    border-radius: 20px;
    font-size: 30px;
    background-color: #101010;
    color:white;
    letter-spacing: 2px;
    font-weight: bold;
    position:relative;
    transition: box-shadow 0.1s ease-in-out;
    margin-top: 3%;


    display:flex;
    justify-content: center;
    align-items:center;
}

#pass::after{
    content:"";
    position:absolute;
    height: 110%;
    width:105%;
    border-radius:20px;
    background-image:var(--heheha,linear-gradient(to bottom left, #314770, #6295E0));
    z-index:-1;

}

#pass:hover, #pass:active{
    z-index:0;
    box-shadow:var(--pass,40px 0 100px #6294e047, -60px 0 100px #31477053);
}


#starty{
    width: 100%;
    height: 400px;
    justify-content: center;
    display: flex;
}


#start{
    height: 200px;
    width: 400px;
    border:none;
    border-radius: 20px;
    font-size: 60px;
    background-color: #101010;
    color:white;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    position: relative;
    margin-top: 7%;
    transition: box-shadow 0.1s ease-in-out;



    display:flex;
    justify-content: center;
    align-items:center;
    
}

#start::after{
    content:"";
    position:absolute;
    height: 110%;
    width:105%;
    border-radius:20px;
    background-image:linear-gradient(to bottom, #314770, #6295E0);
    z-index:-1;
}
#start:hover{
    z-index:0;
    box-shadow:-100px 0 250px #6294e047, 100px 0 250px #6294e047;
}



#numberslol{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
}
#greennum{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: right;
}
#snumber{
    color:lime;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-right: 5px;
    margin-top: 0px;
}
#pnumber{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-top: 0px;
    margin-left: 5px;
    color:red;
}

#rednum{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: left;
}
#barcontainer{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
}
#lhalf{
    width: 50%;
    height: 100%;
    flex-direction: column;
}
#rhalf{
    width: 50%;
    height: 100%;
    float:right
}

#smashbar{
    height: 50%;
    width: 50%;
    float: right;
    display: block;
}


#sbars{
    height:100%;
    width:var(--sbar, 0%);
    float:right;
    position: relative;
    border-radius: 5px;
    background-color: lime;
}

#passbar{
    height: 50%;
    width: 50%;
    display: block;
    float:left;
}


#pbars{
    height:100%;
    width:var(--pbar, 0%);
    float:left;
    position: relative;
    border-radius: 5px;
    background-color: red;
}

#endstuff{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}

#donetext{
    height: 70px;
    width: 100%;
    justify-content: center;
    display: flex;
}

#finished{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-top: 7px;
}

#restartcontainer{
    width: 100%;
    height: 250px;
    background-color: #050505;
    display: flex;
    justify-content: center;
}

#restart{
    height: 200px;
    width:200px;
    border-radius: 100px;
    background-image: url("/images/restart.png");
    background-size: contain;
    border: none;
    transition: box-shadow 0.1s ease-in-out;
    margin-top: 25px;
}
#restart:hover{
    background-image: url("/images/restarth.png");
    background-size: contain;
    box-shadow:0 0 200px #6294e047;
}

#filler{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}

#statistics{
    height: 50px;
    width: 100px;
    margin-top: 10px;
    border:none;
    border-radius: 20px;
    font-size: 15px;
    background-color: #101010;
    color:white;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    position:absolute;
    transition: box-shadow 0.1s ease-in-out;



    display:flex;
    justify-content: center;
    align-items:center;
    
}

#statistics::after{
    content:"";
    position:absolute;
    height: 110%;
    width:105%;
    border-radius:20px;
    background-image:linear-gradient(to bottom left, #314770, #6295E0);
    z-index:-1;
}
#statistics:hover{
    z-index:0;
    box-shadow:20px 0 50px #6294e047, -30px 0 50px #31477053
}
#containerstats{
    margin: 100px;
    margin-top: 50px;
    background-color: #101010;
    padding: 10px;
    border: solid;
    border-width: 10px;
    border-color: #45679e;
    border-radius: 20px;

}

#container{
    margin: 100px;
    margin-top: -50px;
    background-color: #101010;
    padding: 50px;
    border: solid;
    border-width: 10px;
    border-color: lime;
    border-radius: 20px;

}
#containerpass{
    margin: 100px;
    background-color: #101010;
    padding: 50px;
    border: solid;
    border-width: 10px;
    border-color: red;
    border-radius: 20px;
    margin-top: -50px;

}
#containerundecided{
    margin: 100px;
    background-color: #101010;
    padding: 50px;
    border: solid;
    border-width: 10px;
    border-color: white;
    border-radius: 20px;
    margin-top: -50px;
}

#ssmash{
    color:#45679e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

#coverdiv{
    background-color: #050505;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    pointer-events: none;
    transition: opacity 1000ms linear,1000ms;

}

#all{
    display: block;
}

@media screen and (max-width: 800px){
    #centerpage, #numberslol, #barcontainer{
        width: 130%;
    }
    #limageholder{
        width: 0%
    }
    #limage{
        display: "none";
        border: none;
        padding:0px;
        height:0px;
    }

    #resetall{
        margin-left:8%;
        margin-top:85px;
    }
    #reset{
        margin-left:8%;
    }
    #logo{
        height:100px
    }
    #ssmash{
        font-size: 25px;
    }
    #containerundecided, #container, #containerpass{
        padding: 10px;
    }
}